<!DOCTYPE html>
<html lang="de">
  {{ partial "head.html" . }}
  <body>
    <div id="wrapper">

      {{ partial "header.html" . }}

      <div id="main" role="main">

        <div id="main-content-header">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="title">
                  Über uns
                </h1>
                <ol class="breadcrumb">
                  <li>
                    <a href="/">
                      <i class="fa fa-home"></i>
                    </a>
                  </li>
                  <li class="active">
                    Über uns
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <div id="main-content">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
                <p class="lead">Anbau der Landmaissorten zwecks Erhalt der Sorten
</p>
                <div>
                  Bis 2016 in Belp und ab 2017 in Niederscherli baut der Verein Landmais jedes Jahr 10-20 Sorten auf 5 Aren an.
                </div>

                <a class="mg-t-md" style="display: inline-block;" data-lightbox href="acker-belp-large.jpg" title="Acker Belp">
                  <img class="img-responsive" alt="Acker Belp" src="acker-belp.jpg">
                  <i class="fa fa-search"></i>
                </a>
              </div>
            </div>
            <div class="row mg-t-lg">
              <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
                <p class="lead">Erwerbsmässiger Anbau einer Landmaissorte</p>
                <div>
                  Nach einem Versuch auf dem Belpberg im 2016 bauen wir ab 2017 im Gürbetal zum ersten Mal eine Landmaissorte im grösseren Stil an. Verantwortlich für den Anbau ist Roger Staub.
                </div>
              </div>
            </div>
            <div class="row mg-t-lg">
              <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
                <p class="lead">Weitere Anbaustandorte von Landmaissorten</p>
                <div>
                  Auf dem Betrieb von Peter Steffen in Grünenmatt wurde im 2016 die Sorte Oaxacan Green angebaut.
                </div>
              </div>
            </div>


            <div class="col-sm-12">
              <div class="page-header page-header-with-icon">
                <i class="fa fa-info-circle"></i>
                <h2>
                  Kontaktinfos
                </h2>
              </div>
              <div class="row text-center">
                <div class="col-sm-offset-2 col-sm-4">
                  <div class="icon-wrap icon-circle contrast-bg icon-md">
                    <i class="fa fa-map-marker text-white"></i>
                  </div>
                  <h3>Adresse</h3>
                  <ul class="list-unstyled">
                    <li>Verein Landmais</li>
                    <li>Philipp Meyer, Niederscherli</li>
                    <li>Roger Staub, Belpberg</li>
                  </ul>
                </div>
                <div class="col-sm-4">
                  <div class="icon-wrap icon-circle contrast-bg icon-md">
                    <i class="fa fa-envelope-o text-white"></i>
                  </div>
                  <h3>E-Mail</h3>
                  <ul class="list-unstyled">
                    <li><a href="mailto:info@landmais.ch">info@landmais.ch</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="fade" id="scroll-to-top">
          <i class="fa fa-chevron-up"></i>
        </div>
      </div>

      {{ partial "footer.html" . }}
    </div>
    {{ partial "body_includes" . }}
  </body>
</html>
