<!DOCTYPE html>
<html lang="de">
  {{ partial "head.html" . }}
  <body>
    <div id="wrapper">

      {{ partial "header.html" . }}

      <div id="main" role="main">
        <div id="main-content-header">
          <div class="container container-md">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="title">
                  Kulturgeschichte
                </h1>
                <ol class="breadcrumb">
                  <li>
                    <a href="/">
                      <i class="fa fa-home"></i>
                    </a>
                  </li>
                  <li class="active">
                    Kulturgeschichte
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <div id="main-content">
          <div class="container container-md">
            <div class="row">
              <div class="col-sm-12">
                <p class="lead text-center">{{ .Params.intro.lead }}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="page-header page-header-with-icon">
                  <i class="fa fa-suitcase"></i>
                  <h2>
                    Mais bei den Indios
                  </h2>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-8">
                {{ .Params.indios.text | markdownify }}
              </div>

              <div class="col-sm-4">
                {{ range .Params.indios.images }}
                <div class="thumbnail">
                  <img src="{{ .url }}">
                  <div class="caption">
                    <p>{{ .caption | markdownify }}</p>
                  </div>
                </div> 
                {{ end }}
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="page-header page-header-with-icon">
                  <i class="fa fa-suitcase"></i>
                  <h2>
                    Mais in Europa
                  </h2>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-8">
                {{ .Params.europa.text | markdownify }}
              </div>

              <div class="col-sm-4">
                {{ range .Params.europa.images }}
                <div class="thumbnail">
                  <img src="{{ .url }}">
                  <div class="caption">
                    <p>{{ .caption | markdownify }}</p>
                  </div>
                </div> 
                {{ end }}
              </div>
            </div>


            <div class="row">
              <div class="col-sm-12">
                <div class="page-header page-header-with-icon">
                  <i class="fa fa-suitcase"></i>
                  <h2>
                    Zubereitung und Mangelernährung
                  </h2>
                </div>
              </div>
            </div>

            {{ .Params.zubereitung.text }}

            <hr>


            <h4>Quellen</h4>

            <ul class="list-unstyled small">
              {{ range .Params.quellen }}
              <li>{{ .text | markdownify }}</li>
              {{ end }}
            </ul>

          </div>
        </div>

        <div class="fade" id="scroll-to-top">
          <i class="fa fa-chevron-up"></i>
        </div>
      </div>

      {{ partial "footer.html" . }}
    </div>
    {{ partial "body_includes" . }}
  </body>
</html>
