{{ define "main" }}

{{ partial "header.html" . }}

<div id="main" role="main">
  <div id="main-content-header">
    <div class="container container-md">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="title">
            Produkte
          </h1>
          <ol class="breadcrumb">
            <li>
              <a href="/">
                <i class="fa fa-home"></i>
              </a>
            </li>
            <li class="active">
              Produkte
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div id="main-content">
    <div class="container">

      <div class="row">
        <div class="col-sm-12">
          <div class="lead text-center">{{ .Params.intro.lead | markdownify }}</div>
          <p class="text-center">{{ .Params.intro.text | markdownify }}</p>
        </div>
      </div>

      <div class="text-boxes">
        <div class="row text-box">

          {{ range .Params.produkte }}
          <div class="col-sm-6 mg-t-lg">
            <a data-lightbox href="{{ .image_large }}" title="{{ .caption | markdownify }}">
              <img class="img-responsive center-block" width="400" alt="{{ .caption | markdownify }}" src="{{ .image }}">
              <i class="fa fa-search"></i>
            </a>
            <p class="text-center">{{ .caption | markdownify }}</p>
          </div>
          {{ end }}

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="page-header page-header-with-icon">
            <i class="fa fa-lightbulb-o"></i>
            <h2>{{ .Params.ideen.lead | markdownify }}</h2>
            <p>{{ .Params.ideen.text | markdownify }}</p>
          </div>

          <div class="text-boxes">
            <div class="row text-box">

              {{ range .Params.ideen.beispiele }}
              <div class="col-sm-6 mg-t-lg">
                <a data-lightbox href="{{ .image_large }}" title="{{ .caption | markdownify }}">
                  <img class="img-responsive center-block" width="400" alt="{{ .caption | markdownify }}" src="{{ .image }}">
                  <i class="fa fa-search"></i>
                </a>
                <p class="text-center">{{ .caption | markdownify }}</p>
              </div>
              {{ end }}

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="fade" id="scroll-to-top">
    <i class="fa fa-chevron-up"></i>
  </div>
</div>
{{ end }}
