<footer id="footer">
  <div id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 info-box">
          <div class="logo-container">
            <img alt="Landmais logo" height="40" src="/images/logo.png" />
          </div>
          <p class="no-mg-b">Sind Sie interessiert, mehr zu erfahren? Dann nehmen Sie mit mir Kontakt auf.</p>
          <p><em>Philipp Meyer, Agronom</em></p>
        </div>
        <div class="col-sm-4 info-box">
          <h2 class="title">Kontakt</h2>
          <div class="icon-boxes">
            <div class="icon-box">
              <div class="icon icon-wrap">
                <i class="fa fa-map-marker"></i>
              </div>
              <div class="content">
                Philipp Meyer
                <br>
                Belp, Switzerland
              </div>
            </div>
            <div class="icon-box">
              <div class="icon icon-wrap">
                <i class="fa fa-envelope"></i>
              </div>
              <div class="content"><a href="mailto:info@landmais.ch">info@landmais.ch</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 clearfix">
          <p class="copyright">
            Copyright
            &copy;
            2014 Philipp Meyer
          </p>
          <div class="links">
            <a class="btn btn-circle btn-medium-light btn-sm" href="/ueber-uns/">
              <i class="fa fa-envelope text-dark"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>