{{ define "main" }}

{{ partial "header.html" . }}

<div id="main" role="main">
  <div id="main-content-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="title">
            Landmais
          </h1>
          <ol class="breadcrumb">
            <li>
              <a href="/">
                <i class="fa fa-home"></i>
              </a>
            </li>
            <li class="active">
              Home
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div id="main-content">
    <div class="container">

      <div class="jumbotron">
        <h4 class="no-mg-t">Aktuell: Unterstützer gesucht für 2018</h4>
        
        <p><small>
          Ab sofort läuft unser <a href="https://wemakeit.com/projects/nutzung-von-landmaissorten">Crowdfunding 2018</a> bei wemakeit. Wir suchen Unterstützer, die unser Projekt auch im 2018 voranbringen möchten.
        </small></p>
        <p><small>
          Der Verein Landmais hat <strong>im 2016</strong> ein Projekt lanciert, das zum Ziel hat, mehrere Landmaissorten zu erhalten und eine davon bei einem Landwirt in Kehrsatz auf 20 Aren anzubauen. Wir sind der Meinung: "Über ein gut verkauftes Produkt kann eine Sorte nachhaltig erhalten werden."
        <small></p>
        <p><small>
          <strong>Im 2017</strong> konnten wir dank der Hilfe von 25 Unterstützer den erstmaligen Anbau einer grünen Landmaissorte in Kehrsatz durchführen. Der Anbau 2017 gelangt gut und wir sind zufrieden mit der Ernte.
        <small></p>
        <p><small>
          &rarr; <strong>Im 2018 möchten wir nun mit deiner Hilfe eine eigene Siebmaschine entwickeln, die die gemahlenen Körner auftrennt in Maisgries, Maismehl und Spreu.</strong> Bis jetzt haben wir diese Arbeit von Hand erledigt.
        <small></p>
        <p><small>
          <strong>Ab 2018</strong> möchten wir zudem die grüne Landmaissorte züchterisch verbessern, da wir Schwächen in der Standfestigkeit bemerkt haben. Die Arbeitskosten dafür trägt der Verein Landmais. Es fallen jedoch auch Materialkosten und Spesen an, für die wir eine Finanzierung suchen.
        <small></p>
        <a class="btn btn-contrast no-mg-b" href="https://wemakeit.com/projects/nutzung-von-landmaissorten">Zum Crowdfunding</a>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="lead lead-sm text-center">
            {{ .Params.intro.lead | markdownify }}
          </div>
        </div>
      </div>

      <div class="row sorten-boxes">
        <div class="col-sm-6 sorten-box sorten-item">
          <a href="/maissorten/">
            <div class="image-link">
              <img class="img-responsive img-rounded center-block" alt="Maissorten" src="/landmaissorten.jpg">
            </div>
            <h3 class="title">Maissorten</h3>
            <p class="description">Details zu den Landmaissorten</p>
            <p class="show-details"><i class="fa fa-plus"></i> Maissorten anzeigen</p>
          </a>
        </div>
        <div class="col-sm-6 sorten-box sorten-item">
          <a href="/produkte/">
            <div class="image-link">
              <img class="img-responsive img-rounded center-block" alt="Produkte" src="/griess-orange.jpg">
            </div>
            <h3 class="title">Produkte</h3>
            <p class="description">Produkte und Produktideen</p>
            <p class="show-details"><i class="fa fa-plus"></i> Produkte anzeigen</p>
          </a>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <div class="page-header page-header-with-icon">
            <i class="fa fa-bullhorn"></i>
            <h2>
              Blog
            </h2>
          </div>
        </div>
      </div>

      <div class="text-boxes">
        {{ range first 4 (where .Site.RegularPages "Section" "blog") }}
        <div class="row text-box text-box-title-above">
          <div class="col-sm-offset-2 col-sm-8 mg-b-lg">
            {{ partial "blog/summary.html" . }}
          </div>
        </div>
        {{ end }}
      </div>

      <div class="text-center">
        <a class="btn btn-contrast no-mg-b" href="/blog/">Weitere Blogeinträge</a>
      </div>
    </div>
  </div>
  <div class="fade" id="scroll-to-top">
    <i class="fa fa-chevron-up"></i>
  </div>
</div>
{{ end }}
