<div class="row text-box text-box-title-above">
  <div class="col-sm-12">
    <h2 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ partial "blog/meta.html" . }}
    <div class="row">
      <div class="col-sm-3">
        <a class="image-crop image-crop-3by2" href="{{ .RelPermalink }}">
          <img class="img-responsive center-block img-rounded-half" alt="" width="189" height="129" src="{{ .RelPermalink }}{{ .Params.image }}">
        </a>
      </div>
      <div class="col-sm-9">
        <p>{{ .Description }}</p>
        <a class="btn btn-contrast btn-bordered btn-xs" href="{{ .RelPermalink }}">Weiterlesen</a>
      </div>
    </div>
    <hr class="hr-half">
  </div>
</div>
